# SourceMod's Include Files
admin.inc
adminmenu.inc
adt.inc
adt_array.inc
adt_stack.inc
adt_trie.inc
banning.inc
basecomm.inc
bitbuffer.inc
clientprefs.inc
clients.inc
commandfilters.inc
console.inc
core.inc
cstrike.inc
datapack.inc
dbi.inc
entity.inc
entity_prop_stocks.inc
events.inc
files.inc
float.inc
functions.inc
geoip.inc
halflife.inc
handles.inc
helpers.inc
keyvalues.inc
lang.inc
logging.inc
mapchooser.inc
menus.inc
morecolors.inc
nextmap.inc
profiler.inc
protobuf.inc
regex.inc
sdkhooks.inc
sdktools.inc
sdktools_client.inc
sdktools_engine.inc
sdktools_entinput.inc
sdktools_entoutput.inc
sdktools_functions.inc
sdktools_gamerules.inc
sdktools_hooks.inc
sdktools_sound.inc
sdktools_stocks.inc
sdktools_stringtables.inc
sdktools_tempents.inc
sdktools_tempents_stocks.inc
sdktools_trace.inc
sdktools_voice.inc
sorting.inc
sourcemod.inc
steamtools.inc
string.inc
testing.inc
textparse.inc
tf2.inc
tf2attributes.inc
tf2items.inc
tf2_stocks.inc
timers.inc
topmenus.inc
usermessages.inc
vector.inc
version.inc
version_auto.inc

#Ignore .smx files
*.smx

#Ignore Any Exe Files
.exe

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
